body {
  background-color: antiquewhite;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

h1 {
  text-align: center;
}

h2 {
  text-align: center;
}

.para {
  text-align: center;
}

.start-btn {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.game-info {
  display: flex;
  justify-content: space-around;
  gap: 1;
}

.textarea {
  display: block;
  margin-left: auto;
  margin-right: auto;
  resize: none;
  width: 560px;
  height: 350px;
}

.btn-reset-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.cards-container {
  display: flex;
  gap: 20px;
  justify-content: center;
}

.card {
  display: grid;
  grid-template-columns: 9;
  justify-items: center;
  width: 150px;
  border: 2px solid black;
}

.card-player-name {
  justify-self: center;
}

.input-plyr {
  margin-top: 10px;
  margin-bottom: 10px;
  justify-self: center;
  width: 60px;
}

.btn-plyr {
  margin-bottom: 10px;
  justify-self: center;
  width: 75px;
}
.btn-call {
  justify-self: center;
  width: 75px;
}
.btn-all-in {
  justify-self: center;
  width: 75px;
}

.btn-fold {
  margin-top: 20px;
  justify-self: center;
  width: 75px;
}

.plyrBalanceInfo {
  text-align: center;
}

.plyrCardInfo {
  text-align: center;
}
